@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --colorLight:#FFFFFF;
    --colorDark:#2f3645;
    --colorDarkTransparent:#2f3645b3;
    --colorDarkTransparent2:#767a81de;
}

*{
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    color: var(--colorLight);
}

nav{
    
    z-index: 4;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
    transition: background-color 1s;
}

.fondoNav{
    background-color: var(--colorLight);
}

.fondoNav>ul>li>a{
    color: var(--colorDark);
    text-shadow: 1px 1px white, 2px 3px gray;
}

.tema{
    display: none;
}

.tema-block{
    display: block;
}

.menu{
    display: flex;
    width: 300px;
    justify-content: space-around;
}

main{
    padding: 100px 20px;
    perspective: 800px;
}

.item-menu{
    list-style-type: none;
}

.item-link{
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 500;
    color: #FFFFFF;
    text-shadow: 1px 1px gray, 2px 3px black;
}

.botonesVideo{
    box-shadow: 2px 2px grey;
    padding: 10px 15px;
    text-decoration: none;
    background-color: var(--colorLight);
    color:var(--colorDark) ;
    font-weight: 300;
    border: 1px solid var(--colorDark);
}

.item-menu:hover{
    transform: translate(3px, 2px);
}

.item-menu:hover > .item-link{
    text-shadow:0.5px 0.5px var(--colorDark) ;
}

.flexItem{
    display: block;
}

header{
background: url(../imagenes/fondo.jpg) 50% 0 fixed ;
background-size: cover;
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

#header-2{
    background-image: url(../imagenes/historia-programacion.jpg);
    position: relative;
    height: 70vh;
}

#header-3{
    background-image: url(../imagenes/img2.jpg);
    position: relative;
    height: 70vh;
}

.fondo-azul{
    background: rgba(47, 54, 69,0.7);
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.espacio-titulo{
    padding: 40px 10px;
    transition: color 3s;
}

h1{
    font-weight: 400;
    font-size: calc(3em + 18px); 
    color: #eeeeee;
    text-shadow: 2px 2px #808080, 6px 6px black;
}

h2{
    text-shadow: 1px 1px white,2px 2px gray ;
    font-size:calc(2em + 18px) ; 
    font-weight: 500;
    text-align: center;
    color: var(--colorDark)
}

.titulo-blanco{
    text-align: center;
}

.mon1{
    animation: part_1 ease-in 5s  ;
    animation-iteration-count:1 ;
    }

.mon2{
animation: part_2 ease-in 5s  ;
animation-iteration-count:1 ;
}

line.cod{
    animation-name: showCode;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes part_1{
    0% {
    transform: translate(0,-10px);
    opacity:0;
    } 20% {
    transform: translate(0,-10px);
    opacity:0;
    } 30% {
    transform: translate(0,0);
    opacity:1;
    } 90% {
    transform: translate(0,0);
    opacity:1;
    } 100% {
        transform: translate(0,0);
        opacity:1;
    }
}   
    

@keyframes part_2 {
    0% {
        transform: translate(0,-10px);
        opacity:0;
    } 30% {
        transform: translate(0,-10px);
        opacity:0;
    } 40% {
        transform: translate(0,0);
        opacity:1;
    } 90% {
        transform: translate(0,0);
        opacity:1;
    } 100% {
            transform:translate(0,0);
            opacity:1;
    }
} 
        
@keyframes showCode {
    from{
        stroke: transparent;
    }
    to{
        stroke: green;
    }
}

.logo{
    height: 80px;
}

footer{
    background: var(--colorDark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  90px;
    color: #f5f5f5;
}

.footer-left{
    display: flex;
    justify-content: space-between;
    width:300px;
    height: 60px;
}

.titulo-foot{
    font-size: 14px;
}

.cont-historia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

.card-hist{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:80px 50px;
    gap: 20px;    
    perspective: 800px;
    perspective-origin: top;
}

.card-text-section{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    visibility:hidden
}

.card-hist>img{
    width: 50%;
    visibility: hidden;
}

#cardHist2>.card-text-section{
    visibility:hidden
}

.text-hist{
    color: var(--colorDark);
}

.card-prod{
    width: 250px;
    height: 480px;
}

.titulo-prod{
    font-size: 20px;
}

.img-prod{  
    height: 221px;
}

@keyframes aparecerDerecha {
    from{
        transform: translateX(500px) ;
        opacity: 0;
    }
    to{
        transform: translate(0);
    }
}

@keyframes aparecerIzq {
    from{
        transform: translateX(-500px) ;
        opacity: 0;
    }
    to{
        transform: translate(0);
    }
}

@keyframes aparecer1 {
    from{
        transform:  translateZ(500px) translateX(-500px);
        visibility:visible
    }
    to{
        transform: translateZ(0px);
        visibility:visible
    }
}

@keyframes opacity1 {
    from{
        transform:  translateZ(-500px) translateX(500px) rotateY(-45deg);
        visibility:visible
    }
    to{
    transform: translateZ(0px);
    visibility:visible
    }
}

@keyframes aparecer2 {
    from{
        transform:  translateZ(500px) translateX(500px) ;
        visibility:visible
    }
    to{
        transform: translateZ(0px);
        visibility:visible
    }
}

@keyframes opacity2 { 
    from{
        transform:  translateZ(-500px) translateX(-500px) rotateY(45deg);
        visibility:visible
    }
    to{
    transform: translateZ(0px);
    visibility:visible
    }
}

@keyframes feliz {
    50%{
        transform: translateY(300px) translateZ(300px);
    }
    100%{
        transform: translateY(300px) translateZ(0px);
    }
}